
.user-auth h1{
  margin-top: 50px;
  margin-bottom: 50px;
  color:rgb(228, 13, 110);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.user-auth{
  margin-bottom: 100px;
}
.user-auth a, .user-auth p{
  cursor: pointer;
  text-align: center;
}
.error{
  margin-top: -15px;
    margin-bottom: 15px;
    color: darkslategrey;
}
.error-p{
  color: darkslategrey;
}
.auth-toggle-link{
  color:rgb(228, 13, 110);
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}



