.cart-page{
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: mediumvioletred;
  font-family: 'Courier New', Courier, monospace;
}
.details{
  border: 1px solid  rgb(228, 13, 110);
}
.details img{
  height: 100px;
}
.details ul{
  padding: 0;
  margin: 0;
  list-style-type:none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  rgb(228, 13, 110);
  padding-top:15px;
  margin-bottom: 15px;
}
.summary h3{
  text-align: center;
}
.summary ul{
  border: 1 px solid  rgb(228, 13, 110);
  list-style-type: none;
  border: 1px solid  rgb(228, 13, 110);
  padding: 15px;
}
.summary ul li{
  display: flex;
  justify-content: space-between;
   border-bottom: 1px solid  rgb(228, 13, 110);
}
