<div class="nav">
  <div>
    <h6>Policy Info</h6>
    <ul>
    <li>Terms & Conditions</li>
    <li>Privacy Policy</li>
    <li>Terms of Use</li>
    <li>Disclaimer</li>
    </ul>
  </div>
  <div>
    <h6>About Company</h6>
    <ul>
    <li>About Us</li>
    <li>Bloom Team</li>
    <li>Careers</li>
    <li>News Room</li>
    </ul>
  </div>
  <div>
    <h6>Need Help</h6>
    <ul>
    <li>Contact Us</li>
    <li>FAQ</li>
    </ul>
  </div>
  <div>
    <h6>Useful Links</h6>
    <ul>
    <li><a href="/quotes/wishes-n-messages">Quotes N Wishes</a></li>
    <li><a href="/article/flower-astrology">Flower Astrology</a></li>
    <li><a href="/info/articles-hub">Article Hub</a></li>
    <li><a href="/blog/">Blog</a></li>
    </ul>
  </div>
</div>
<div class="footer">
  <h5><fa-icon [icon]="icon"></fa-icon> 2023 Bloom</h5>
</div>

